@model TimeTwoFix.Web.Models.VehicleModels.ReadVehicleViewModel

@{
    ViewData["Title"] = "Vehicle Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-5 justify-content-center">
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="card-title text-center">@ViewData["Title"]</h2>
                <hr />
                <h5 class="mb-3 text-secondary"><i class="bi bi-person-fill"></i> Client Info</h5>
                <dl class="row">
                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.ReadClientViewModel.FirstName)</dt>
                    <dd class="col-sm-9">@Model.ReadClientViewModel?.FirstName @Model.ReadClientViewModel?.LastName</dd>
                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.ReadClientViewModel.Email)</dt>
                    <dd class="col-sm-9">@Model.ReadClientViewModel?.Email</dd>
                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.ReadClientViewModel.PhoneNumber)</dt>
                    <dd class="col-sm-9">@Model.ReadClientViewModel?.PhoneNumber</dd>
                </dl>
                <hr />
                <h5 class="mb-3 text-secondary"><i class="bi bi-car-front"></i> Vehicle Specifications</h5>
                <dl class="row">
                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Vin)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Vin)</dd>
                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Brand)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Brand)</dd>
                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Model)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Model)</dd>
                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.LicensePlate)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.LicensePlate)</dd>
                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.FuelType)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.FuelType)</dd>
                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.TransmissionType)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.TransmissionType)</dd>
                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Year)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Year)</dd>
                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Mileage)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Mileage) km</dd>
                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Notes)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Notes)</dd>
                </dl>
                <div class="d-grid mt-4">
                    <a asp-action="Index" class="btn btn-outline-secondary btn-lg">
                        <i class="bi bi-arrow-left-circle me-2"></i> Back to Vehicle List
                    </a>
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-warning btn-lg">
                        <i class="bi bi-pencil-square me-2"></i> Edit Vehicle
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>