@model IEnumerable<TimeTwoFix.Web.Models.ProviderSparePartModels.ReadProviderSparePartViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProviderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SparePartId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryReceipt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityReceived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateReceived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPriceAtPurchase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VAT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Margin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProviderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SparePartId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryReceipt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityReceived)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReceived)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPriceAtPurchase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VAT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Margin)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
