@model IEnumerable<TimeTwoFix.Web.Models.InterventionSparePartModel.ReadInterventionSparePartViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="table-responsive">
    <table class="table table-striped align-middle">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InterventionId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SparePartId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SparePartName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeliveryNote)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InterventionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SparePartId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SparePartName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryNote)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
